# Database connection URL, username, and password
spring.datasource.url=jdbc:postgresql://localhost:5432/productdb
spring.datasource.username=your_database_username
spring.datasource.password=your_database_password
server.port=8081

# Hibernate settings: update creates or updates the schema automatically
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
server.address=0.0.0.0
